@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  /* Adjust weight as needed */
}

.navbar {
  background-color: #00C8FA;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  height: 45px;
  text-align: center;
  gap: 0px;
}

.navbar ul li {
  background-color: #232425;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  justify-content: center;
  color: #FFF;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.navbar ul li:hover {
  background-color: #00C8FA;
}

.introduction {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction-shadow {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.photo-of-johannes {
  width: 160px;
}

.introduction-hero {
  background-color: #232425;
  font-size: 0.7rem;
  color: #FFF;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.introduction-hero h1 {
  text-wrap: nowrap;
  text-transform: uppercase;
}

.introduction-hero p:first-of-type {
  color: #00C8FA;
}

.more-info {
  margin-top: 45px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #232425;
  color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.more-info h2 {
  color: #FFF;
  padding: 5px;
  background-color: #00DA33;
}

/* contact info */
.contact-section {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.instagram-section {
  display: flex;
  flex-direction: row;
  gap: 15px;
  background-color: #00C8FA;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.email-section {
  display: flex;
  flex-direction: row;
  gap: 15px;
  background-color: #00C8FA;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.instagram-logo {
  width: 70px;
  background-color: #232425;
  padding: 10px;
}

.email-logo {
  width: 70px;
  background-color: #232425;
  padding: 10px;
}

/* music-library section */
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.search-bar input {
  height: 30px;
  border: none;
  background-color: #232425;
  border-radius: 12px;
  padding: 10px;
  width: 300px;
}

.search-bar input::placeholder {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
}

.all-tracks {
  font-size: 2rem;
  padding-left: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* song container */
.song-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: center;
}

.song-description {
  background-color: #00C8FA;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

audio {
  margin-top: 10px;
}


.song-cover {
  width: 100px;
  height: 100px;
}

.song-title {
  font-weight: bold;
}