.audio-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d2d2d;
    padding: 20px;
    color: white;
    font-size: 0.5rem;
    z-index: 9999; /* Ensure the audio player is on top of other content */
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.play-pause-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    background-color: #00DA33;
    width: 200px;
    border-radius: 12px;
    padding: 5px;
    margin-top: 15px;
}

.play-pause-btn:hover {
    color: #4f9cdb;
}

.progress-bar {
    width: 100%;
    max-width: 200px;
}

.progress {
    width: 100%;
    background-color: #555;
    border-radius: 5px;
    cursor: pointer;
}

.volume-control {
    width: 100px;
}

.volume {
    width: 100%;
    background-color: #555;
    border-radius: 5px;
    cursor: pointer;
}

.time-info {
    margin-top: 10px;
    font-size: 14px;
    text-wrap: nowrap;
}
